{% extends "base.html" %}

{% block content %}
<!-- filename: naytaid.html -->
<p><h2>Pizzapalvelun menu:</h2>


<p>
		<h3>{{ pizza_data.name }}</h3>
		Sisaltaa:<br/>
		{% for l in pizza_data.lisukkeet %}
			<!--{{ g['pizza_name'] }}: -->{{ l.name }} (hinta: {{l.price}}) <br>

		{% endfor %}
		pizzan kokonaishinta: {{pizza_data.price}}
		<!-- sid, lid, lisuke_nimi, lisuke_hinta, pizza_name -->
		<!--{{ p['pizza_name'] }}: {{ p['lisuke_nimi'] }}-->
	<p>	

	<a href="/tsoha/menu">Siirry takaisin menuseen</a>	

{% endblock %}

{% block title %}
Pizza-Service / menu
{% endblock %}

