{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa Pizza-Palveluun!</h1>
	<!--({{ user.username }})-->
  </div>

  <p>
	<b>Pizza-Palvelu</b> on verkon kautta tilattavien pizzojen edellakavia.
	Meilta saat maukkaat itsevalinnaiset pizzat, seka kattavan valmiin menuun.
  <p>
	<a href="/tsoha/menu">Linkki menuseen</a>
<!-- <p>
	<a href="/tsoha/menu/add_templ">Koosta uusi pizza</a>-->
<!--  <p>
	<hr>
	Yllapidon linkkeja:<br/>
	<a href="/tsoha/login">Sisaankirjautumiseen</a><br>
	<a href="/tsoha/login/logout">Kirjaudu ulos</a><br/>
<p>
<hr>
	{% if user.is_admin %}
	<a href="/tsoha/lisuke/add_templ">Lisaa lisuke</a><br>
	<a href="/tsoha/menu/add_static_templ">Koosta nimellinen pizza</a><br/>
	<a href="/tsoha/order/tracking">Seuraa tilauksia</a><br/>
	{% endif %}
<hr>
-->
<p>{{ now }}
{% endblock %}

{% block title %}
Pizza-Service v0.1
{% endblock %}
