{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa Pizza-Palveluun!</h1>
  </div>

  <p>
	<b>Pizza-Palvelu</b> on verkon kautta tilattavien pizzojen edellakavia.
	Meilta saat maukkaat itsevalinnaiset pizzat, seka kattavan valmiin menuun.
  <p>
	<a href="/tsoha/menu">Linkki menuseen</a>
  <p>
	<a href="/tsoha/menu/add_templ">Koosta uusi pizza</a>
  <p>
	<a href="/tsoha/lisuke/add_templ">Lisaa lisuke</a>
  <p>
	<a href="/tsoha/login">Sisaankirjautumiseen</a>
  <p>
<hr>
<p>{{ now }}
{% endblock %}

{% block title %}
Pizza-Service v0.1
{% endblock %}
