{% extends "base.html" %}

{% block content %}
<p>Pizzapalvelun menu:

<p>Oma pizzasi:
<ol>
{% for t in tmp %}
	<li>{{t['lisuke_nimi']}} </li>
{% endfor %}
</ol>
<form action="/tsoha/menu/del_anon" method="POST">
<input type="hidden" value="kala" name="kalaa">
<input type="submit" value="Poista pizza">
</form>

<hr>
Valmiit pizzat:
<p>
	{% for p in pizza_data %}
<p>
		<h3>{{ p[0]['pizza_name'] }}</h3> (<a href="/tsoha/menu/tietty/{{ p[0]['sid'] }}">lisatiedot</a>).<br/>
		Sisaltaa:<br/>
		{% for g in p %}
			<!--{{ g['pizza_name'] }}: -->{{ g['lisuke_nimi'] }} <br>

		{% endfor %}
		<!-- sid, lid, lisuke_nimi, lisuke_hinta, pizza_name -->
		<!--{{ p['pizza_name'] }}: {{ p['lisuke_nimi'] }}-->
		

	{% endfor %}
	<a href="/tsoha/">Siirry takaisin etusivulle</a>

{% endblock %}

{% block title %}
Pizza-Service / menu
{% endblock %}

