{% extends "base.html" %}

{% block content %}
<p>Pizzapalvelun menu:

<p>Oma pizzasi:
<ol>
{% for t in tmp %}
	<li>{{t['lisuke_nimi']}} </li>
{% endfor %}
</ol>
<form action="/tsoha/menu/del_anon" method="POST">
<input type="hidden" value="kala" name="kalaa">
<input type="submit" value="Poista pizza">
</form>


<hr>

<a href="/tsoha/order">Tilatut pizza</a>.
<br><Br>


<hr>
Valmiit pizzat:
<p>
	{% for p in pizza_data %}
<p>
		<h3>{{ p.name }}</h3> (<a href="/tsoha/menu/tietty/{{p.id}}">lisatiedot</a>).<br/>
		{% if user.is_admin %}
			<a href="/tsoha/menu/crud_template?a_pizzaid={{p.id}}">Muokkaa pizzaa</a>.<br/>
		{% endif %}
		Sisaltaa:<br/>
		{% for l in p.lisukkeet %}
			<!-- -->{{ l.name }}<br>

		{% endfor %}
		Pizzan hinta: {{p.price}}<br/>
		<a href="/tsoha/order/place/{{user.session_id}}/{{p.id}}">Tilaa pizza!</a><br>
	
	{% endfor %}
	<a href="/tsoha/">Siirry takaisin etusivulle</a>

{% endblock %}

{% block title %}
Pizza-Service / menu
{% endblock %}

	
